body {
  margin: 0;
}

.navigationBar {
  display: flex;
  align-items: center;
  height: 50px;
  background-color: antiquewhite;

  a {
    text-decoration: none;
    padding: 10px;
  }

}

.aboutSection {
  padding: 40px;
}

.catalogSection {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;

  .book {
    width: 100px;
    border: thin solid black;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;

    &:hover {
      transform: translate(1px, 1px);
      background-color: aquamarine;
      cursor: pointer;
    }

  }

}
